.menu-wrapper{
    align-items: center;
    display: flex;
    margin: 10px;
}
.header{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}